<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Resultado de accion</h1>
            <p><%= valor %></p>
            <h4>Histórico de operaciones</h4>
            <p><%= historico %></p>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>